@model Projekat.tblSaloni

@{
    ViewBag.Title = "Details";
}

<

    <div class="jumbotron">
        <h4>Detalji</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Naziv)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Naziv)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Vlasnik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Vlasnik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Adresa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Adresa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefon)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefon)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WebStranica)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WebStranica)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PIB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PIB)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BrojZiroRacuna)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BrojZiroRacuna)
            </dd>

        </dl>
        <a href="@Url.Action("Index", "Salon", new { id = Model.ID })" class="btn btn-success">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">
                Nazad
            </span>

        </a>
        <a href="@Url.Action("Edit", "Salon", new { id = Model.ID })" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                Izmeni
            </span>

        </a>
    </div>
