@model IEnumerable<Projekat.tblKomadNamestaja>

@{
    ViewBag.Title = "Index";
}

    <div class="jumbotron" style="width:1150px;">
        @if (User.IsInRole("Administrator"))
        {
            <a href=" @Url.Action("Create", "Namestaj")" class="btn btn-primary b">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"> Dodaj</span>
            </a><br /><br />
        }
        @using (Html.BeginForm("Index", "Namestaj", FormMethod.Get))
        {
            @Html.TextBox("srch")
           
            <button class="btn btn-group-sm btn-success">
                <span class="glyphicon glyphicon-search" aria-hidden="true">
                    Pretrazi
                </span>
            </button>
        }

        <table class="table table-bordered" style="width:auto;" id="tblNamestaj">

            <tr>

                <th>#</th>
                <th>

                    @Html.DisplayNameFor(model => model.Sifra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZemljaProizvodnje)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JedinicnaCena)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RaspolozivaKolicina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Slika)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tblKategorija.Naziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tblSaloni.Naziv)
                </th>
                @if (User.IsInRole("Administrator"))
                {
                    <th></th>
                }
            </tr>
            @{int i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>

                            @Html.DisplayFor(modelItem => item.Sifra)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naziv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ZemljaProizvodnje)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JedinicnaCena)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RaspolozivaKolicina)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Slika)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tblKategorija.Naziv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tblSaloni.Naziv)
                        </td>
                        @if (User.IsInRole("Administrator"))
                        {
                            <td>

                                <a href="@Url.Action("Edit", "Namestaj", new { id = item.ID })" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                                        Izmeni
                                    </span>

                                </a>
                                <a href="@Url.Action("Details", "Namestaj", new { id = item.ID })" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true">
                                        Detalji
                                    </span>

                                </a>

                                <a href="@Url.Action("Delete", "Namestaj", new { id = item.ID })" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true">
                                        Obrisi
                                    </span>

                                </a>


                            </td>
                        }
                    </tr>
                    i++;
                } }


        </table>
    </div>>
