@model Projekat.tblKategorija

@{
    ViewBag.Title = "Create";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
<div class="jumbotron">
    <div class="form-horizontal">
        <h4>Napravi novu kategoriju</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Naziv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control",autocomplete="off" }  })
                @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Opis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "form-control",autocomplete="off" } })
                @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true">
                        Sačuvaj
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
    }


  
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
